In [5]:
import pandas as pd

y = pd.Period('2016')
y.start_time
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [15]:
m = pd.Period('2016-12', freq='M')
m
m.start_time
m.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [16]:
m+1

Period('2017-01', 'M')

In [17]:
d = pd.Period('2017-02-28', freq='D')
d

Period('2017-02-28', 'D')

In [18]:
d+1

Period('2017-03-01', 'D')

In [19]:
d+2

Period('2017-03-02', 'D')

In [20]:
q = pd.Period('2017Q1')

In [21]:
q

Period('2017Q1', 'Q-DEC')

In [22]:
q+1

Period('2017Q2', 'Q-DEC')

In [23]:
q.start_time

Timestamp('2017-01-01 00:00:00')

In [24]:
q.end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [25]:
q = pd.Period('2017Q1', freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [26]:
q.asfreq('M', how="start")

Period('2016-02', 'M')

In [27]:
q.asfreq('M', how="end")

Period('2016-04', 'M')

In [30]:
idx = pd.period_range('2011','2017', freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [31]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [32]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [34]:
import numpy as np

ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4   -1.034989
2012Q1   -1.766307
2012Q2   -0.051187
2012Q3   -1.448675
2012Q4    0.764975
2013Q1   -1.140864
2013Q2    0.338687
2013Q3   -0.938540
2013Q4   -0.154916
2014Q1    0.323221
2014Q2    0.256544
2014Q3    0.673315
2014Q4   -0.230823
2015Q1   -0.709705
2015Q2   -0.363093
2015Q3   -0.607835
2015Q4    1.788818
2016Q1    1.526704
2016Q2    0.123434
2016Q3   -0.990426
2016Q4   -1.408226
2017Q1   -0.346096
2017Q2   -1.420024
2017Q3   -0.187620
2017Q4    0.653508
Freq: Q-JAN, dtype: float64

In [35]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [36]:
ps['2011':'2013']

2011Q4   -1.034989
2012Q1   -1.766307
2012Q2   -0.051187
2012Q3   -1.448675
2012Q4    0.764975
2013Q1   -1.140864
2013Q2    0.338687
2013Q3   -0.938540
2013Q4   -0.154916
2014Q1    0.323221
2014Q2    0.256544
2014Q3    0.673315
2014Q4   -0.230823
Freq: Q-JAN, dtype: float64

In [37]:
df = pd.read_csv("C:/Users/hp/Pandas/Time_Series_Analysis/TimeSeries_Period/wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [39]:
df.set_index('Line Item', inplace=True)

In [40]:
df.T

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [42]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

DateParseError: Unknown datetime string format, unable to parse: REVENUE

In [43]:
df.index

Index(['Revenue', 'Expenses', 'Profit'], dtype='object', name='Line Item')

In [45]:
df.index = pd.PeriodIndex(df.index,freq='Q-JAN')
df.index

DateParseError: Unknown datetime string format, unable to parse: REVENUE

In [46]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

DateParseError: Unknown datetime string format, unable to parse: REVENUE

In [47]:
df.index[0].start_time

AttributeError: 'str' object has no attribute 'start_time'