In [1]:
#Data Frame Basics -

#Dataframe is a main object in pandas.It is used to represent data with rows and colums.
#Dataframe is datastructure used to store tabular data

In [4]:
import pandas as pd

df = pd.read_csv("weather_data.csv")
df

         days  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           32          2  Sunny

In [5]:
df.shape

(6, 4)

In [6]:
rows,col = df.shape
rows

6

In [7]:
col

4

In [8]:
df.head()

         days  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain

In [9]:
df.head(2)

         days  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny

In [10]:
df.tail()

         days  temperature  windspeed  event
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           32          2  Sunny

In [11]:
df.tail(2)

         days  temperature  windspeed  event
4  01-05-2017           32          4   Rain
5  01-06-2017           32          2  Sunny

In [12]:
df[2:5]

         days  temperature  windspeed event
2  01-03-2017           28          2  Snow
3  01-04-2017           24          7  Snow
4  01-05-2017           32          4  Rain

In [13]:
df[:]

         days  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           32          2  Sunny

In [15]:
df.columns

Index(['days', 'temperature', 'windspeed', 'event'], dtype='object')

In [17]:
df.days

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: days, dtype: object

In [18]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [20]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [21]:
df[['event','days']]

   event        days
0   Rain  01-01-2017
1  Sunny  01-02-2017
2   Snow  01-03-2017
3   Snow  01-04-2017
4   Rain  01-05-2017
5  Sunny  01-06-2017

In [22]:
df['temperature'].max()

35

In [23]:
df['temperature'].min()

24

In [24]:
df['temperature'].sum()

183

In [25]:
df['temperature'].mean()

30.5

In [26]:
df['temperature'].std()

3.8858718455450894

In [27]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [28]:
df.temperature == df['temperature'].max()

0    False
1     True
2    False
3    False
4    False
5    False
Name: temperature, dtype: bool

In [29]:
df[df.temperature>=32]

         days  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
4  01-05-2017           32          4   Rain
5  01-06-2017           32          2  Sunny

In [30]:
df[df.temperature == df.temperature.max()]

         days  temperature  windspeed  event
1  01-02-2017           35          7  Sunny

In [31]:
df[df.temperature == df['temperature'].max()]

         days  temperature  windspeed  event
1  01-02-2017           35          7  Sunny

In [32]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [34]:
df.set_index('days', inplace=True)

In [35]:
df

            temperature  windspeed  event
days
01-01-2017           32          6   Rain
01-02-2017           35          7  Sunny
01-03-2017           28          2   Snow
01-04-2017           24          7   Snow
01-05-2017           32          4   Rain
01-06-2017           32          2  Sunny

In [36]:
df.reset_index(inplace=True)

In [37]:
df

         days  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           32          2  Sunny