In [3]:
import pandas as pd

df = pd.read_csv("weather_by_cities.csv")
df[df.city=='new york'].temperature.max()

36

In [4]:
g = df.groupby('city')
g

In [7]:
for city,data in g:
    print("city:", city)
    print("data:", data)

city: mumbai
data:         day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
city: new york
data:         day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
city: paris
data:          day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [8]:
g.get_group('mumbai')

        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain

In [9]:
g.max()

               day  temperature  windspeed  event
city
mumbai    1/4/2017           92         15  Sunny
new york  1/4/2017           36         12  Sunny
paris     1/4/2017           54         20  Sunny

In [10]:
g.size()

city
mumbai      4
new york    4
paris       4
dtype: int64

In [14]:
# def grouper(df, idx, col):
#     if 80<= df[col].loc[idx]<=90:
#         return '80-90'
#     elif 50<= df[col].loc[idx]<=60:
#         return '50-60'
#     else:
#         return 'others'


g = df.groupby(lambda idx: grouper(df,idx,'temperature'))
g

In [13]:
for key, data in g:
    print("key:", key)
    print("data:", data)

key: 50-60
data:          day   city  temperature  windspeed   event
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
key: 80-90
data:         day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
key: others
data:          day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
11  1/4/2017     paris           42         10  Cloudy

In [15]:
g = df.groupby(lambda idx: grouper(df,idx,'temperature'))
g